@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  padding: 0px;
  margin: 0px;
}
.centeredContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  text-align: center;
  transition: all 0.3s ease;
}
.shrinkedContainer {
  display: block;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.movieSearchForm {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid #1c8394;
  border-radius: 5px !important;
  overflow: hidden !important;
  height: 55px;
}
.movieSearchInput {
  margin-left: 8px;
  flex: 1;
}
